"""Worker Node .env 配置示例"""
NODE_NAME='worker-1'
NODE_HOST='0.0.0.0'
NODE_PORT=8001
NODE_MAX_TASKS=5
NODE_TAGS='scrapy, crawler'

MASTER_URL='http://192.168.1.100:8000'
MASTER_API_KEY=''

HEARTBEAT_INTERVAL=30
REGISTER_ON_START=true
